<!-- View component for Sku -->
<% if(skuformat.length){ %>
    <!-- Example of how to display sku format. TODO: Replace this with real data -->
    <p>Sku Format: test + Test + TEST + test</p>
    <p>Example Sku: M4NKWB000001</p>
<% } else { %>
    <p class="lead">No Sku created yet</p>
<% } %>
<a class="btn btn-dark" href="/skugen/sku/edit">Edit Sku</a>