<%- include('./partials/header'); %>

<h1>Index Page</h1>

<a class="d-block" href="/login">Login with Shopify</a>
<a class="d-block" href="/batch">Craete a new Batch</a>


<%- include('./partials/footer'); %>