<%- include('./partials/header'); %>

<h1>Index Page</h1>

<% if(shop) { %>
	<p class="mb-0">Welcome <%= shop %></p>
	<a class="d-block" href="/batch/new">Craete a new Batch</a>
	<a href="/logout">Logout</a>
<% } else { %>
	<a class="d-block" href="/login">Login with Shopify</a>
<% } %>

<%- include('./partials/scripts') %>
<%- include('./partials/footer'); %>