<%- include('../partials/header'); %>

<h1>New Batch</h1>

<div id="products-section">
	<div class="product border border-secondary"></div>
</div>

<button id="new" class="btn btn-success">Add Product</button>
<button class="btn btn-primary">Submit</button>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/scripts/batch.js"></script>

<%- include('../partials/footer'); %>