<%- include('../partials/header'); %>

<h1>New Batch</h1>

<p>For shop: <span id="shop"><%= shop %></span></p>

<div id="products-section">
	<div class="product border border-secondary rounded p-3 mb-2">
		<div class="mb-2">
			<label>Title</label>
			<input class="form-control form-control-sm" type="text" name="title">
		</div>
		<div class="mb-2">
			<label>Description</label>
			<textarea class="tinymce">Next, use our Get Started docs to setup Tiny!</textarea>
		</div>
		<label>Images</label>
		<input class="form-control form-control-sm" type="file" name="images" accept="image/jpeg, image/png, image/gif" multiple>
	</div>
</div>

<button id="new" class="btn btn-success">Add Product</button>
<button id="submit" class="btn btn-primary">Submit</button>


<%- include('../partials/scripts') %>

<script type="text/javascript" src="/scripts/batch.js"></script>

<%- include('../partials/footer'); %>