<%- include('../partials/header'); %>

<h1>New Batch</h1>

<p>For shop: <span id="shop"><%= shop %></span></p>

<div id="products-section">
	<div class="product border border-secondary">
		<label>Title: </label>
		<input type="text" name="title">
		<textarea class="tinymce">Next, use our Get Started docs to setup Tiny!</textarea>
		<label>Images: </label>
		<input type="file" name="images" accept="image/jpeg, image/png, image/gif" multiple>
	</div>
</div>

<button id="new" class="btn btn-success">Add Product</button>
<button id="submit" class="btn btn-primary">Submit</button>


<%- include('../partials/scripts') %>

<script type="text/javascript" src="/scripts/batch.js"></script>

<%- include('../partials/footer'); %>